@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var product in Model.Products)
    {
        <div class="cart-container">
            <div class="cart-image">
                <img src="@product.ImageUrl" alt="@product.Name">
            </div>
            <div class="cart-details">
                <h2>@product.Name</h2>
                <h3>MK @product.Price </h3>
                <p>@product.Description</p>
                <button onclick="addToCart('@product.Name', '@product.Price', '@product.Id');" class="cart-button">Add to
                    Cart</button>
            </div>
        </div>
    }
</div>

<script>
    function addToCart(name, price, id) {
        //Compose new item object
        const item = {
            id,
            name,
            price
        };

        //Get the current state of the cart
        const cart = JSON.parse(window.localStorage.getItem("cart"));
        const updatedCart = cart ? [...cart, item] : [item];
        const cartTotal = updatedCart.length;

        //Push the item into local storage
        window.localStorage.setItem("cart", JSON.stringify(updatedCart));

        //Update Cart Header with new state
        const cartSummaryElement = document.getElementById("cart-summary");
        cartSummaryElement.innerText = `${cartTotal} Item${cartTotal === 1 ? '' : 's'} in Cart`;
    }
</script>
